# /etc/systemctl/system/renogy_bt.service
[Unit]
Description=Gunicorn instance to serve Flask RenogyBT App
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/defender-os/renogy-bt
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5000 ping_renogy:app

[Install]
WantedBy=multi-user.target
